<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
  
　　<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
	<div th:replace="~{layout/navi::navbar}"></div>
	<div class="text-center" th:object="${inquiryForm}">
		<h2 th:text="${headLine}"></h2>
		<p>名前:<span th:text="*{name}"></span></p>
		<p>パスワード:<span th:text="*{pass}"></span></p>
	 	<p>メールアドレス:<span th:text="*{email}"></span></p>
	 	<p>問い合わせ内容:<span th:text="*{text}"></span></p>	
		<form action="#" th:action="@{/inquiry/save}" method="post" th:object="${inquiryForm}">
				<input type="hidden" name="name" th:value="*{name}">
				<input type="hidden" name="pass" th:value="*{pass}">
				<input type="hidden" name="email" th:value="*{email}">
				<input type="hidden" name="text" th:value="*{text}">
				<input type="submit" value="送信">
		</form>
		
		<form th:action="@{/inquiry/form}" method="post" th:object="${inquiryForm}">
				<input type="hidden" name="name" th:value="*{name}">
				<input type="hidden" name="pass" th:value="*{pass}">		
				<input type="hidden" name="email" th:value="*{email}">
				<input type="hidden" name="text" th:value="*{text}">
				<input type="submit" value="戻る">
		</form>
	</div>
	

  <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>